In [10]:
import pandas as pd
import numpy as np
import openpyxl as op

In [2]:
listado = pd.read_csv('Listadodelocalidadesconconectividadainternet.csv')

In [6]:
columnas_a_actualizar = listado.columns[3:12]

# Reemplazar los valores 'SI' por 1 y los valores '--' por 0 en las columnas seleccionadas
listado[columnas_a_actualizar] = listado[columnas_a_actualizar].replace({'SI': 1, '--': 0})

In [11]:
listado.to_excel('2Listadodelocalidadesconconectividadainternet.xlsx', index=False)

In [28]:
df = pd.read_csv('AccesoVelBajadaIFijoLocal2.csv')

In [29]:
df = df.iloc[1:]

# Conservar solo las columnas 1, 84 y 85
columnas_deseadas = [0, 1, 2, 83, 85]
df = df.iloc[:, columnas_deseadas]

In [30]:
df.head()

      Provincia     Partido          Localidad  Cant_Hogares   PROM
1  BUENOS AIRES  25 de Mayo         25 de Mayo        6336.0  14.01
2  BUENOS AIRES  25 de Mayo    Agustín Mosconi          58.0   6.90
3  BUENOS AIRES  25 de Mayo          Del Valle         192.0   3.38
4  BUENOS AIRES  25 de Mayo          Ernestina          66.0   3.00
5  BUENOS AIRES  25 de Mayo  Gobernador Ugarte         181.0   3.34

In [31]:
df.to_csv('ProParLocCantProm.csv', index=False)

In [41]:
sien = pd.read_excel('PenetraciondelInternetfijoporprovinciaaccesosporcada100hogares_2750281689744077087.xlsx')

c:\Users\USUARIO\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [45]:
siendfa = sien.groupby('Provincia')['Accesos por cada 100 hogares'].mean().reset_index().round(2)

In [47]:

siendfa.to_csv('Penetraciondel100hogaresResumen.csv', index=False)

In [38]:
sien.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          3     Buenos Aires                        7811.0
1  2022          3  Capital Federal                       12228.0
2  2022          3        Catamarca                        6533.0
3  2022          3            Chaco                        4386.0
4  2022          3           Chubut                        8438.0

In [24]:
df_agrupado = df.groupby('Provincia').agg({'Cant_Hogares': 'sum', 'PROM': 'mean'})

# Renombrar las columnas resultantes
df_agrupado = df_agrupado.rename(columns={'Cant_Hogares': 'Suma_Cant_Hogares', 'PROM': 'Promedio_PROM'})

In [26]:
df_agrupado.to_csv('VelBajadaPromProv.csv', index=True)

In [27]:
df.head()

      Provincia  Cant_Hogares   PROM
1  BUENOS AIRES        6336.0  14.01
2  BUENOS AIRES          58.0   6.90
3  BUENOS AIRES         192.0   3.38
4  BUENOS AIRES          66.0   3.00
5  BUENOS AIRES         181.0   3.34

In [31]:
AccesoVelBajadaIFijoLocal = pd.read_csv('123456.csv')  # Reemplaza 'ruta_del_archivo.csv' con la ruta de tu archivo CSV

In [54]:
rango_columnas = AccesoVelBajadaIFijoLocal.columns[5:83]  # Columnas del 4 al 82

# Convertir el rango de columnas a números enteros
AccesoVelBajadaIFijoLocal[rango_columnas] = AccesoVelBajadaIFijoLocal[rango_columnas].replace(',', '', regex=True).astype(float)

In [41]:
rango_columnas = AccesoVelBajadaIFijoLocal.columns[4:83]  # Columnas del 4 al 82

# Calcular la suma de las columnas y guardar el resultado en una nueva columna
AccesoVelBajadaIFijoLocal['Cant_Hogares'] = AccesoVelBajadaIFijoLocal[rango_columnas].sum(axis=1)

In [39]:
AccesoVelBajadaIFijoLocal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3098 entries, 0 to 3097
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3098 non-null   object
 1   Partido     3098 non-null   object
 2   Localidad   3098 non-null   object
 3   Link Indec  3098 non-null   object
 4   Otros       956 non-null    float64
 5   0,256 mbps  29 non-null     float64
 6   0,375 mbps  1 non-null      float64
 7   0,5 mbps    643 non-null    float64
 8   0,512 mbps  524 non-null    float64
 9   0,625 mbps  1 non-null      float64
 10  0,75 mbps   284 non-null    float64
 11  1 mbps      931 non-null    float64
 12  1,25 mbps   1 non-null      float64
 13  1,5 mbps    16 non-null     float64
 14  2 mbps      741 non-null    float64
 15  2,2 mbps    1 non-null      float64
 16  2,5 mbps    3 non-null      float64
 17  3 mbps      1388 non-null   float64
 18  3,3 mbps    1 non-null      float64
 19  3,5 mbps    373 non-null    float64
 20  4 mbps      539 non-null    float64
 21  4,5 mbps    1 non-null      float64
 22  5 mbps      1013 non-null   float64
 23  6 mbps      1436 non-null   float64
 24  6,4 mbps    1 non-null      float64
 25  7 mbps      221 non-null    float64
 26  7,5 mbps    4 non-null      float64
 27  8 mbps      616 non-null    float64
 28  9 mbps      52 non-null     float64
 29  10 mbps     1685 non-null   float64
 30  11 mbps     27 non-null     float64
 31  12 mbps     519 non-null    float64
 32  13 mbps     15 non-null     float64
 33  14 mbps     20 non-null     float64
 34  15 mbps     1020 non-null   float64
 35  16 mbps     18 non-null     float64
 36  17 mbps     1 non-null      float64
 37  18 mbps     237 non-null    float64
 38  19 mbps     1 non-null      float64
 39  20 mbps     1053 non-null   float64
 40  21 mbps     4 non-null      float64
 41  22 mbps     1 non-null      float64
 42  23 mbps     2 non-null      float64
 43  24 mbps     14 non-null     float64
 44  25 mbps     580 non-null    float64
 45  25,1 mbps   1 non-null      float64
 46  25,11 mbps  1 non-null      float64
 47  25,5 mbps   1 non-null      float64
 48  26 mbps     2 non-null      float64
 49  30 mbps     693 non-null    float64
 50  31 mbps     4 non-null      float64
 51  32 mbps     2 non-null      float64
 52  34 mbps     1 non-null      float64
 53  35 mbps     12 non-null     float64
 54  36 mbps     2 non-null      float64
 55  38 mbps     1 non-null      float64
 56  39 mbps     1 non-null      float64
 57  40 mbps     92 non-null     float64
 58  41 mbps     1 non-null      float64
 59  45 mbps     3 non-null      float64
 60  46 mbps     1 non-null      float64
 61  49 mbps     1 non-null      float64
 62  50 mbps     645 non-null    float64
 63  55 mbps     4 non-null      float64
 64  58 mbps     1 non-null      float64
 65  59 mbps     1 non-null      float64
 66  60 mbps     257 non-null    float64
 67  61 mbps     3 non-null      float64
 68  62 mbps     1 non-null      float64
 69  64 mbps     1 non-null      float64
 70  65 mbps     2 non-null      float64
 71  66 mbps     1 non-null      float64
 72  70 mbps     10 non-null     float64
 73  75 mbps     227 non-null    float64
 74  78 mbps     1 non-null      float64
 75  80 mbps     16 non-null     float64
 76  82 mbps     1 non-null      float64
 77  83 mbps     1 non-null      float64
 78  85 mbps     1 non-null      float64
 79  90 mbps     2 non-null      float64
 80  92 mbps     2 non-null      float64
 81  95 mbps     1 non-null      float64
 82  100 mbps    553 non-null    float64
dtypes: float64(79), object(4)
memory usage: 2.0+ MB

In [47]:
columnas_seleccionadas = AccesoVelBajadaIFijoLocal.columns[4:83]  # Columnas del 4 al 82

# Cambiar el nombre de las columnas conservando solo la primera parte antes del primer espacio
nuevos_nombres = [col.split(" ")[0] for col in columnas_seleccionadas]
AccesoVelBajadaIFijoLocal.rename(columns=dict(zip(columnas_seleccionadas, nuevos_nombres)), inplace=True)

In [48]:
nombres_columnas = AccesoVelBajadaIFijoLocal.columns

# Crear una nueva fila con los nombres de las columnas repetidos
nueva_fila = pd.DataFrame([nombres_columnas], columns=nombres_columnas)

# Concatenar la nueva fila con el dataset existente
AccesoVelBajadaIFijoLocal = pd.concat([nueva_fila, AccesoVelBajadaIFijoLocal], ignore_index=True)

In [50]:
AccesoVelBajadaIFijoLocal = AccesoVelBajadaIFijoLocal.drop(index=1).reset_index(drop=True)

In [58]:
AccesoVelBajadaIFijoLocal.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256","0,375","0,5","0,512","0,625",...,78,80,82,83,85,90,92,95,100,Cant_Hogares
0,Provincia,Partido,Localidad,Link Indec,Otros,256.0,375.0,5.0,512.0,625.0,...,78.0,80.0,82.0,83.0,85.0,90.0,92.0,95.0,100.0,Cant_Hogares
1,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6336.0
2,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0
3,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0
4,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0

In [56]:
AccesoVelBajadaIFijoLocal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099 entries, 0 to 3098
Data columns (total 84 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Provincia     3099 non-null   object
 1   Partido       3099 non-null   object
 2   Localidad     3099 non-null   object
 3   Link Indec    3099 non-null   object
 4   Otros         957 non-null    object
 5   0,256         30 non-null     float64
 6   0,375         2 non-null      float64
 7   0,5           644 non-null    float64
 8   0,512         525 non-null    float64
 9   0,625         2 non-null      float64
 10  0,75          285 non-null    float64
 11  1             932 non-null    float64
 12  1,25          2 non-null      float64
 13  1,5           17 non-null     float64
 14  2             742 non-null    float64
 15  2,2           2 non-null      float64
 16  2,5           4 non-null      float64
 17  3             1389 non-null   float64
 18  3,3           2 non-null      float64
 19  3,5           374 non-null    float64
 20  4             540 non-null    float64
 21  4,5           2 non-null      float64
 22  5             1014 non-null   float64
 23  6             1437 non-null   float64
 24  6,4           2 non-null      float64
 25  7             222 non-null    float64
 26  7,5           5 non-null      float64
 27  8             617 non-null    float64
 28  9             53 non-null     float64
 29  10            1686 non-null   float64
 30  11            28 non-null     float64
 31  12            520 non-null    float64
 32  13            16 non-null     float64
 33  14            21 non-null     float64
 34  15            1021 non-null   float64
 35  16            19 non-null     float64
 36  17            2 non-null      float64
 37  18            238 non-null    float64
 38  19            2 non-null      float64
 39  20            1054 non-null   float64
 40  21            5 non-null      float64
 41  22            2 non-null      float64
 42  23            3 non-null      float64
 43  24            15 non-null     float64
 44  25            581 non-null    float64
 45  25,1          2 non-null      float64
 46  25,11         2 non-null      float64
 47  25,5          2 non-null      float64
 48  26            3 non-null      float64
 49  30            694 non-null    float64
 50  31            5 non-null      float64
 51  32            3 non-null      float64
 52  34            2 non-null      float64
 53  35            13 non-null     float64
 54  36            3 non-null      float64
 55  38            2 non-null      float64
 56  39            2 non-null      float64
 57  40            93 non-null     float64
 58  41            2 non-null      float64
 59  45            4 non-null      float64
 60  46            2 non-null      float64
 61  49            2 non-null      float64
 62  50            646 non-null    float64
 63  55            5 non-null      float64
 64  58            2 non-null      float64
 65  59            2 non-null      float64
 66  60            258 non-null    float64
 67  61            4 non-null      float64
 68  62            2 non-null      float64
 69  64            2 non-null      float64
 70  65            3 non-null      float64
 71  66            2 non-null      float64
 72  70            11 non-null     float64
 73  75            228 non-null    float64
 74  78            2 non-null      float64
 75  80            17 non-null     float64
 76  82            2 non-null      float64
 77  83            2 non-null      float64
 78  85            2 non-null      float64
 79  90            3 non-null      float64
 80  92            3 non-null      float64
 81  95            2 non-null      float64
 82  100           554 non-null    float64
 83  Cant_Hogares  3099 non-null   object
dtypes: float64(78), object(6)
memory usage: 2.0+ MB

In [59]:
AccesoVelBajadaIFijoLocal.to_csv('bajadalocal1.csv', index=False)  # Reemplaza 'ruta_del_archivo_modificado.csv' con la ruta y nombre que deseas para el nuevo archivo CSV

In [68]:
AccesoVelBajadaIFijoLocal.at[0, 'Otros'] = 0.0

In [69]:
AccesoVelBajadaIFijoLocal.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256","0,375","0,5","0,512","0,625",...,78,80,82,83,85,90,92,95,100,Cant_Hogares
0,Provincia,Partido,Localidad,Link Indec,0.0,256.0,375.0,5.0,512.0,625.0,...,78.0,80.0,82.0,83.0,85.0,90.0,92.0,95.0,100.0,Cant_Hogares
1,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6336.0
2,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0
3,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0
4,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0

In [71]:
AccesoVelBajadaIFijoLocal.to_csv('bajadalocal2.csv', index=False)  # Reemplaza 'ruta_del_archivo_modificado.csv' con la ruta y nombre que deseas para el nuevo archivo CSV

In [73]:
columnas_seleccionadas = AccesoVelBajadaIFijoLocal.columns[6:83]  # Columnas del 6 al 82

# Multiplicar las filas por la primera fila y sumarlas en una nueva columna
AccesoVelBajadaIFijoLocal['SUMA'] = AccesoVelBajadaIFijoLocal[columnas_seleccionadas].mul(AccesoVelBajadaIFijoLocal[columnas_seleccionadas].iloc[0]).sum(axis=1)

In [80]:
AccesoVelBajadaIFijoLocal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099 entries, 0 to 3098
Data columns (total 85 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Provincia     3099 non-null   object
 1   Partido       3099 non-null   object
 2   Localidad     3099 non-null   object
 3   Link Indec    3099 non-null   object
 4   Otros         957 non-null    object
 5   0,256         30 non-null     float64
 6   0,375         2 non-null      float64
 7   0,5           644 non-null    float64
 8   0,512         525 non-null    float64
 9   0,625         2 non-null      float64
 10  0,75          285 non-null    float64
 11  1             932 non-null    float64
 12  1,25          2 non-null      float64
 13  1,5           17 non-null     float64
 14  2             742 non-null    float64
 15  2,2           2 non-null      float64
 16  2,5           4 non-null      float64
 17  3             1389 non-null   float64
 18  3,3           2 non-null      float64
 19  3,5           374 non-null    float64
 20  4             540 non-null    float64
 21  4,5           2 non-null      float64
 22  5             1014 non-null   float64
 23  6             1437 non-null   float64
 24  6,4           2 non-null      float64
 25  7             222 non-null    float64
 26  7,5           5 non-null      float64
 27  8             617 non-null    float64
 28  9             53 non-null     float64
 29  10            1686 non-null   float64
 30  11            28 non-null     float64
 31  12            520 non-null    float64
 32  13            16 non-null     float64
 33  14            21 non-null     float64
 34  15            1021 non-null   float64
 35  16            19 non-null     float64
 36  17            2 non-null      float64
 37  18            238 non-null    float64
 38  19            2 non-null      float64
 39  20            1054 non-null   float64
 40  21            5 non-null      float64
 41  22            2 non-null      float64
 42  23            3 non-null      float64
 43  24            15 non-null     float64
 44  25            581 non-null    float64
 45  25,1          2 non-null      float64
 46  25,11         2 non-null      float64
 47  25,5          2 non-null      float64
 48  26            3 non-null      float64
 49  30            694 non-null    float64
 50  31            5 non-null      float64
 51  32            3 non-null      float64
 52  34            2 non-null      float64
 53  35            13 non-null     float64
 54  36            3 non-null      float64
 55  38            2 non-null      float64
 56  39            2 non-null      float64
 57  40            93 non-null     float64
 58  41            2 non-null      float64
 59  45            4 non-null      float64
 60  46            2 non-null      float64
 61  49            2 non-null      float64
 62  50            646 non-null    float64
 63  55            5 non-null      float64
 64  58            2 non-null      float64
 65  59            2 non-null      float64
 66  60            258 non-null    float64
 67  61            4 non-null      float64
 68  62            2 non-null      float64
 69  64            2 non-null      float64
 70  65            3 non-null      float64
 71  66            2 non-null      float64
 72  70            11 non-null     float64
 73  75            228 non-null    float64
 74  78            2 non-null      float64
 75  80            17 non-null     float64
 76  82            2 non-null      float64
 77  83            2 non-null      float64
 78  85            2 non-null      float64
 79  90            3 non-null      float64
 80  92            3 non-null      float64
 81  95            2 non-null      float64
 82  100           554 non-null    float64
 83  Cant_Hogares  3099 non-null   object
 84  SUMA          3099 non-null   float64
dtypes: float64(79), object(6)
memory usage: 2.0+ MB

In [81]:
AccesoVelBajadaIFijoLocal.to_csv('AccesoVelBajadaIFijoLocal1.csv', index=False)  # Reemplaza 'ruta_del_archivo_modificado.csv' con la ruta y nombre que deseas para el nuevo archivo CSV

In [83]:
AccesoVelBajadaIFijoLocal.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256","0,375","0,5","0,512","0,625",...,80,82,83,85,90,92,95,100,Cant_Hogares,SUMA
0,Provincia,Partido,Localidad,Link Indec,0.0,256.0,375.0,5.0,512.0,625.0,...,80.0,82.0,83.0,85.0,90.0,92.0,95.0,100.0,Cant_Hogares,7404409.0
1,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6336.0,88793.0
2,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,400.0
3,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0,648.0
4,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,198.0

In [84]:
AccesoVelBajadaIFijoLocal.at[0, 'Cant_Hogares'] = 1.0

In [86]:
AccesoVelBajadaIFijoLocal.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256","0,375","0,5","0,512","0,625",...,80,82,83,85,90,92,95,100,Cant_Hogares,SUMA
0,Provincia,Partido,Localidad,Link Indec,0.0,256.0,375.0,5.0,512.0,625.0,...,80.0,82.0,83.0,85.0,90.0,92.0,95.0,100.0,1.0,7404409.0
1,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6336.0,88793.0
2,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,400.0
3,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0,648.0
4,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,198.0

In [87]:
AccesoVelBajadaIFijoLocal['Cant_Hogares'] = AccesoVelBajadaIFijoLocal['Cant_Hogares'].astype(float)

In [91]:
AccesoVelBajadaIFijoLocal['PROM'] = (AccesoVelBajadaIFijoLocal['SUMA'] / AccesoVelBajadaIFijoLocal['Cant_Hogares']).round(2)

In [92]:
AccesoVelBajadaIFijoLocal.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256","0,375","0,5","0,512","0,625",...,82,83,85,90,92,95,100,Cant_Hogares,SUMA,PROM
0,Provincia,Partido,Localidad,Link Indec,0.0,256.0,375.0,5.0,512.0,625.0,...,82.0,83.0,85.0,90.0,92.0,95.0,100.0,1.0,7404409.0,7404409.00
1,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6336.0,88793.0,14.01
2,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,400.0,6.90
3,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0,648.0,3.38
4,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,198.0,3.00

In [93]:
AccesoVelBajadaIFijoLocal.info()
AccesoVelBajadaIFijoLocal.to_csv('AccesoVelBajadaIFijoLocal2.csv', index=False)  # Reemplaza 'ruta_del_archivo_modificado.csv' con la ruta y nombre que deseas para el nuevo archivo CSV

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099 entries, 0 to 3098
Data columns (total 86 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Provincia     3099 non-null   object
 1   Partido       3099 non-null   object
 2   Localidad     3099 non-null   object
 3   Link Indec    3099 non-null   object
 4   Otros         957 non-null    object
 5   0,256         30 non-null     float64
 6   0,375         2 non-null      float64
 7   0,5           644 non-null    float64
 8   0,512         525 non-null    float64
 9   0,625         2 non-null      float64
 10  0,75          285 non-null    float64
 11  1             932 non-null    float64
 12  1,25          2 non-null      float64
 13  1,5           17 non-null     float64
 14  2             742 non-null    float64
 15  2,2           2 non-null      float64
 16  2,5           4 non-null      float64
 17  3             1389 non-null   float64
 18  3,3           2 non-null      float64
 19  3,5           374 non-null    float64
 20  4             540 non-null    float64
 21  4,5           2 non-null      float64
 22  5             1014 non-null   float64
 23  6             1437 non-null   float64
 24  6,4           2 non-null      float64
 25  7             222 non-null    float64
 26  7,5           5 non-null      float64
 27  8             617 non-null    float64
 28  9             53 non-null     float64
 29  10            1686 non-null   float64
 30  11            28 non-null     float64
 31  12            520 non-null    float64
 32  13            16 non-null     float64
 33  14            21 non-null     float64
 34  15            1021 non-null   float64
 35  16            19 non-null     float64
 36  17            2 non-null      float64
 37  18            238 non-null    float64
 38  19            2 non-null      float64
 39  20            1054 non-null   float64
 40  21            5 non-null      float64
 41  22            2 non-null      float64
 42  23            3 non-null      float64
 43  24            15 non-null     float64
 44  25            581 non-null    float64
 45  25,1          2 non-null      float64
 46  25,11         2 non-null      float64
 47  25,5          2 non-null      float64
 48  26            3 non-null      float64
 49  30            694 non-null    float64
 50  31            5 non-null      float64
 51  32            3 non-null      float64
 52  34            2 non-null      float64
 53  35            13 non-null     float64
 54  36            3 non-null      float64
 55  38            2 non-null      float64
 56  39            2 non-null      float64
 57  40            93 non-null     float64
 58  41            2 non-null      float64
 59  45            4 non-null      float64
 60  46            2 non-null      float64
 61  49            2 non-null      float64
 62  50            646 non-null    float64
 63  55            5 non-null      float64
 64  58            2 non-null      float64
 65  59            2 non-null      float64
 66  60            258 non-null    float64
 67  61            4 non-null      float64
 68  62            2 non-null      float64
 69  64            2 non-null      float64
 70  65            3 non-null      float64
 71  66            2 non-null      float64
 72  70            11 non-null     float64
 73  75            228 non-null    float64
 74  78            2 non-null      float64
 75  80            17 non-null     float64
 76  82            2 non-null      float64
 77  83            2 non-null      float64
 78  85            2 non-null      float64
 79  90            3 non-null      float64
 80  92            3 non-null      float64
 81  95            2 non-null      float64
 82  100           554 non-null    float64
 83  Cant_Hogares  3099 non-null   float64
 84  SUMA          3099 non-null   float64
 85  PROM          3092 non-null   float64
dtypes: float64(81), object(5)
memory usage: 2.0+ MB